<div class="padding-global">
	<div class="grid grid-3-col">
		@for (l of listings; track $index) {
			<div class="card work-card {{l.cardColor}}">
				<img src="{{l.pictures}}" class="img-fluid" alt="...">
				<div class="card-body">
					<div class="card-pre-title">{{l.subtitle}}</div>
					<h2 class="card-title">{{l.title}}</h2>
					<p class="card-description">{{l.description}}</p>
					<div class="tags d-flex flex-wrap">
						@for (tag of l.tags; track tag) {
							<div class="tag {{l.tagColor}}">{{tag}}</div>
						}
					</div>
				</div>
				<a class="project-link" href="{{l.link}}"></a>
			</div>
		}
	</div>
</div>
