<div class="padding-global my-work-wrapper">
	<div class="grid grid-2-col">
		@for (l of listings; track $index) {
			<div class="card work-card {{l.cardColor}}">
				<div class="card-img-wrapper">
						<img src="{{l.pictures}}" class="img-fluid" alt="...">
				</div>
				<div class="card-body">
					<h2 class="card-title">
							{{l.title}}
					</h2>
					<p class="card-description">{{l.description}}</p>
				</div>
				<a class="project-link" href="{{l.link}}"></a>
			</div>
		}
	</div>
</div>
