<div class="main listing-container">
    <header class="listing-hero listing-text">
        <div class="hero-grid">
            <div class="listing-intro">
                <h1>Design System</h1>
                <div class="listing-intro">
                    <p>Creating a seamless, consistent user experience is crucial. A well-crafted design system ensures visual harmony, streamlines workflows, speeds development, and enhances collaboration. Here's my approach to designing a scalable system that supports user-centered digital products.</p>
                </div>
                <div class="block-wrapper">
                    <div class="block-content">
                        <p><strong>Role:</strong> UX &amp; UI Designer</p>
                    </div>
                    <div class="block-content">
                        <p><strong>Company:</strong> Impartner</p>
                    </div>
                </div>
            </div>
            <div class="listing-image">
                <picture>
                    <img src="../../assets/img/design-system/listing/design-system-01.png" alt="Competency Management" class="img-fluid br-1" />
                </picture>
            </div>
        </div>
        <!-- <div class="hero-text">
            <div class="listing-title">
                <h1>Design System</h1>
                <div class="listing-intro">
                    <p>Creating a seamless, consistent user experience is crucial. A well-crafted design system ensures visual harmony, streamlines workflows, speeds development, and enhances collaboration. Here's my approach to designing a scalable system that supports user-centered digital products.</p>
                </div>
                <div class="block-wrapper">
                    <div class="block-content">
                        <p><strong>Role:</strong> UX &amp; UI Designer</p>
                    </div>
                    <div class="block-content">
                        <p><strong>Company:</strong> Impartner</p>
                    </div>
                </div>
            </div>
        </div> -->
    </header>
    <div class="listing-section">
        <div class="listing-title">
            <h2>Building a Unified, Scalable Design System</h2>
        </div>

        <div class="listing-details">
            <div class="listing-intro">
                <p>In today's digital landscape, creating a seamless and consistent user experience across platforms is paramount. A well-crafted design system not only ensures visual harmony but also streamlines workflows, accelerates development, and improves collaboration between design and development teams. I will walk you through my approach to designing a comprehensive and scalable design system, sharing insights on how it can be a cornerstone for building user-centered digital products.</p>
            </div>
            <div class="listing-role">
                <div class="role-section">
                    <h2>Software</h2>
                    <ul class="list-unstyled">
                        <li><svg class="logo-software logo-figma" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 300" width="1667" height="2500"><style type="text/css">.st0{fill:#0acf83}.st1{fill:#a259ff}.st2{fill:#f24e1e}.st3{fill:#ff7262}.st4{fill:#1abcfe}</style><title>Figma.logo</title><desc>Created using Figma</desc><path id="path0_fill" class="st0" d="M50 300c27.6 0 50-22.4 50-50v-50H50c-27.6 0-50 22.4-50 50s22.4 50 50 50z"/><path id="path1_fill" class="st1" d="M0 150c0-27.6 22.4-50 50-50h50v100H50c-27.6 0-50-22.4-50-50z"/><path id="path1_fill_1_" class="st2" d="M0 50C0 22.4 22.4 0 50 0h50v100H50C22.4 100 0 77.6 0 50z"/><path id="path2_fill" class="st3" d="M100 0h50c27.6 0 50 22.4 50 50s-22.4 50-50 50h-50V0z"/><path id="path3_fill" class="st4" d="M200 150c0 27.6-22.4 50-50 50s-50-22.4-50-50 22.4-50 50-50 50 22.4 50 50z"/></svg></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="listing-section">
        <h2>Understanding the Need for a Design System</h2>
        <h3 class="block-heading">The Challenge: Fragmentation in UX/UI Design</h3>
        <div class="main-text">
            <p>When I joined the project, the user interfaces lacked consistency. Each feature seemed disconnected from the next, and design decisions were made on a case-by-case basis without any unifying vision. The result? A fragmented user experience and inefficient design processes.</p>
            <p>This is where the need for a design system became apparent. My goal was to unify these elements into a scalable, flexible system that could grow with the product while remaining user-centric.</p>
        </div>
        <div class="listing-subsection">
            <div class="grid listing-grid">
                <div class="listing-grid-image">
                    <img src="../../assets/img/design-system/listing/design-system--cover.png" alt="" class="img-fluid br-1">
                </div>
                <div class="listing-grid-title">
                    <h3>The Solution: Establishing a Single Source of Truth</h3>
                </div>
                <div class="listing-grid-body">
                    <p>To address the inconsistencies and fragmentation, I focused on building a design system that would act as a single source of truth for all UI and UX decisions. This system would house reusable components, guiding principles, and established patterns that would not only align the visual elements but also ensure that the user experience remained intuitive and engaging across the board.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="listing-section">
        <h2>Restored and Refined a Fractured Design System</h2>
        <div class="listing-subsection">
            <div class="grid listing-grid reversed">
                <div class="listing-grid-image">
                    <img src="../../assets/img/design-system/listing/design-system-02--typography.png" alt="" class="img-fluid br-1">
                </div>
                <div class="listing-grid-title">
                    <h3>Typography: Building on an Existing Foundation</h3>
                </div>
                <div class="listing-grid-body">
                    <p>The typography system was already in place when I joined the project, but my role was to ensure it was effectively integrated into the broader design system. I took the established fonts and typographic hierarchy and implementated them across other components to enhance readability, consistency, and scalability across the product.</p>
                    <ul>
                        <li><strong>Reinforcing Hierarchy:</strong> I worked within the existing typographic hierarchy, ensuring clear distinctions between headings, subheadings, body text, and captions, etc. My task was to ensure these elements remained visually distinct while being flexible enough to adapt to various screen sizes and contexts.</li>
                        <li><strong>Documenting Best Practices:</strong> While the typographic styles were predefined, I created detailed documentation outlining best practices for each additional component to ensure consistency across the product. This helped both designers and developers follow the typographic hierarchy.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="listing-subsection">
            <div class="grid listing-grid reversed">
                <div class="listing-grid-image">
                    <img src="../../assets/img/design-system/listing/design-system-03--colors.png" alt="" class="img-fluid br-1">
                </div>
                <div class="listing-grid-title">
                    <h3>Color Palette: Expanding on Pre-Defined Choices</h3>
                </div>
                <div class="listing-grid-body">
                    <p>The color palette was another element already defined before my involvement. My task was to ensure that the pre-selected colors were used in a way that balanced aesthetics, brand identity, and user experience, while also meeting accessibility standards.</p>
                    <p>I worked to integrate the predefined colors into the design system in a way that enhanced usability. This involved ensuring that primary, secondary, and neutral colors were applied consistently across all components, and that their use was purposeful—supporting user actions and interface navigation.</p>
                </div>
            </div>
        </div>
        <div class="listing-subsection">
            <div class="grid listing-grid reversed">
                <div class="listing-grid-image">
                    <img src="../../assets/img/design-system/listing/design-system-01.png" alt="" class="img-fluid br-1">
                </div>
                <div class="listing-grid-title">
                    <h3>Components: Building Blocks for Efficiency</h3>
                </div>
                <div class="listing-grid-body">
                    <p>The core of any design system lies in its reusable components. By creating a library of modular components such as buttons, cards, form inputs, and navigation elements, I ensured the design team could build quickly and consistently, without reinventing the wheel for each new feature.</p>
                    <ul>
                        <li><strong>Buttons:</strong> Variations in size, style, and state (hover, active, disabled).</li>
                        <li><strong>Form Inputs:</strong> Accessible, easy-to-use, and consistent across devices, complete with error states and helper texts.</li>
                    </ul>
                    <p>These components were meticulously documented with specifications on padding, margin, interaction states, and color usage, ensuring uniformity.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="listing-section">
        <div class="grid listing-grid">
            <div class="listing-grid-image">
                <img src="../../assets/img/design-system/listing/design-system-04--handoff.png" alt="" class="img-fluid br-1">
            </div>
            <div class="listing-grid-title">
                <h2>Collaboration Across Teams: Bridging Design and Development</h2>
            </div>
            <div class="listing-grid-body">
                <p>Creating a design system is not a one-person job; it's a cross-functional effort. I worked closely with developers to ensure that the design specifications were feasible and easy to implement. I also created a living style guide—an online document that was regularly updated to reflect changes in the design system, making it easier for developers to integrate the design components into the product.</p>
            </div>
        </div>
    </div>
    <div class="listing-section">
        <h2>Lessons Learned: Iteration is Key</h2>
        <div class="main-text">
            <p>A design system is never truly "finished." As user needs evolve and new features are introduced, the design system must adapt. I learned the importance of iteration and continuous feedback loops. After implementing the initial design system, I actively sought feedback from both users and developers to make necessary adjustments. The result was a system that could scale, not only with the product but also with the team's growing needs.</p>
        </div>
    </div>
    <div class="listing-section">
        <h2>Ensuring Consistency Across Impartner’s Product Suite
        </h2>
        <div class="main-text">
            <p>One of the most significant outcomes of implementing the design system was the consistent look and feel it created across all of Impartner's products. By establishing uniform guidelines for typography, color usage, and UI components, the system allowed for a cohesive user experience, regardless of the product.</p>
            <ul>
                <li><strong>Cause:</strong> The design system was used and applied across various teams and products at Impartner.</li>
                <li><strong>Effect:</strong> This led to a more unified brand presence, reducing inconsistencies that could confuse users moving between different products. Additionally, it sped up design and development processes by providing a clear, reusable framework that both designers and developers could follow.</li>
            </ul>
            <p>This consistency strengthened Impartner's brand identity and improved the overall user experience by making interactions intuitive and visually cohesive across the product ecosystem.</p>
        </div>
    </div>
    <div class="listing-section">
        <h2>A Framework for Future Growth</h2>
        <div class="main-text">
            <p>In conclusion, the design system I developed played a crucial role in elevating the user experience and streamlining the design-to-development workflow. By creating a unified approach to design that prioritized scalability, consistency, and accessibility, I was able to contribute to a product that not only met user expectations but also simplified the ongoing development process.</p>
            <p>As UX continues to evolve, a robust design system remains an essential tool for ensuring that both users and developers benefit from a cohesive, adaptable, and user-centered experience.</p>
        </div>
    </div>
</div>