<div aboutme class="about-me">
    <header class="hero">
        <h1>About me</h1>
    </header>
    <section class="section text">
        <div class="section-head">
            <h2>About</h2>
            <hr class="hr-inline">
        </div>
        <div class="section-content">
            <div class="subsection">
                <h3>Philosophy</h3>
                <div class="subsection-content">
                    <p>We embrace failure, value feedback, and champion ethical, universally inclusive solutions. Designers are facilitators, meeting people where they are, defining problems with empathy, and exploring playful, diverse solutions. We understand: we are not our users. Our aim is simple—to create designs that universally resonate, transforming lives through empathy and innovation.</p>
                </div>
            </div>
            <div class="subsection">
                <h3>Motivators</h3>
                <div class="subsection-content">
                    <p>I'm passionate about solving complex problems and designing solutions that are both functional and inclusive. I thrive on bringing teams together, simplifying design concepts for everyone, and guiding projects with a strong focus on universal design. As a leader, I emphasize trust, continuous learning, and refining processes to ensure our work is innovative, collaborative, and user-centered.</p>
                </div>
            </div>
            <div class="subsection">
                <h3>Background</h3>
                <div class="subsection-content">
                    <p>Ten years experience with Partner Relationship Management (PRM) and custom <abbr>UI</abbr> design. Higher-ed, fortune-500, start-ups, freelance, photography. <abbr>BS</abbr>, Web Design & Development.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section lists">
        <div class="section-head">
            <h2>Hard skills</h2>
            <hr class="hr-inline">
        </div>
        <div class="section-content">
            <div class="subsection">
                <h3><abbr>UI</abbr>/<abbr>UX</abbr> Design</h3>
                <div class="subsection-content">
                    <ul class="list-unstyled">
                        <li>Figma</li>
                        <li>Figma Component Systems</li>
                        <li>User Personas</li>
                        <li>User Flows &amp; Journey Maps</li>
                        <li>Content &amp; Data Modeling</li>
                        <li>Modular Component Systems</li>
                        <li>Wireframes &amp; Prototyping</li>
                        <li>High-Fidelity Layouts</li>
                    </ul>
                </div>
            </div>
            <div class="subsection">
                <h3>Front-end development</h3>
                <div class="subsection-content">
                  <ul class="list-unstyled">
                        <li>Accessibility</li>
                        <li>Semantic <abbr>HTML</abbr></li>
                        <li><abbr>CSS</abbr> &amp; SASS</li>
                        <li><abbr>CSS</abbr> grid</li>
                        <li>Bootstrap</li>
                        <li><abbr>SVG</abbr></li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>
            <div class="subsection">
                <h3>Programs</h3>
                <div class="subsection-content">
                  <ul class="list-unstyled">
                      <li>Photoshop</li>
                      <li>Illustrator</li>
                      <li>Lightroom</li>
                      <li>VSCode</li>
                      <li>Teams</li>
                      <li>Outlook</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section lists">
        <div class="section-head">
            <h2>Education</h2>
            <hr class="hr-inline">
        </div>
        <div class="section-content">
            <div class="subsection">
                <h3>Degree</h3>
                <div class="subsection-content">
                    <ul class="list-unstyled">
                        <li>B.S., Web Design & Development <span class="li-sub">BYU-Idaho</span></li>
                    </ul>
                </div>
            </div>
            <div class="subsection">
                <h3>Certificates</h3>
                <div class="subsection-content">
                  <ul class="list-unstyled">
                        
                        <li>Insights for Innovation <span class="li-sub"><abbr>IDEOU</abbr></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section lists">
        <div class="section-head">
            <h2>Current</h2>
            <hr class="hr-inline">
        </div>
        <div class="section-content">
            <div class="subsection">
                <h3>Role</h3>
                <div class="subsection-content">
                    <p>UX Designer at <a href="https://impartner.com/" target="_blank" rel="external noreferrer">Impartner</a></p>
                </div>
            </div>
            <div class="subsection">
                <h3>Find me</h3>
                <div class="subsection-content">
                    <p><a href="https://www.linkedin.com/in/krisfryer" target="_blank" rel="external noreferrer">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </section>
</div>