@import "/src/styles.scss";

.grid {
    display: grid;
    grid-template-areas:
        'made'
        'built'
        'copyright'
    ;
    gap: .4rem 3.2rem;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;

    @include screen(md) {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        'copyright built made'
    ;
        text-align: unset;
    }
}

.copyright {
    grid-area: copyright;
}

.built {
    grid-area: built;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: .4rem;
}

.made {
    grid-area: made;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .apple-logo {
        width: 1rem;
        height: auto;
        margin-left: 0.4rem;
        fill: var(--dk-gray);
    }
}

.social-icons {
    margin-left: .4rem;

    a {
        color: var(--dk-gray);
    }

    a:hover .icon-social, a:focus .icon-social {
        color: var(--anchor);
    }
    
    .icon-social {
        width: 1.4rem;
        height: 1.4rem;
        fill: currentColor;
    }
}