@use "../../../assets/settings/_variables" as *;
@use "../../../assets/settings/mixins" as *;
// @use "/src/styles.scss" as *;
@use "mixins" as m;

.grid {
    display: grid;
    grid-template-areas:
        'made'
        'built'
        'copyright'
    ;
    gap: .4rem 3.2rem;
    font-size: 1.2rem;
    letter-spacing: -0.012rem;
    text-align: center;
    color: light-dark(#000000b8, #ffffffb8);

    @include m.screen(md) {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        'copyright built made'
    ;
        text-align: unset;
    }
}

.copyright {
    grid-area: copyright;
    color: light-dark(#0000008f, #ffffff8f);
}

.built {
    grid-area: built;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: .4rem;
}

.made {
    grid-area: made;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .apple-logo {
        width: 1rem;
        height: auto;
        margin-left: 0.4rem;
        fill: var(--dk-gray);
    }
}

.social-icons {
    margin-left: .4rem;

    a {
        color: var(--anchor);
    }

    a:hover .icon-social, a:focus .icon-social {
        color: var(--anchor);
    }

    .icon-social {
        width: 1.4rem;
        height: 1.4rem;
        fill: currentColor;
    }
}
