.btn {
    padding: 0 0;
    font-size: 1.6rem;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    gap: 1.2rem;
    transition: all .15s ease-in-out;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--anchor);
    // background-color: var(--bs-btn-active-bg);
    border-color: transparent;
}

.btn-default {
    color: light-dark(var(--light-color), var(--dark-color));

    &:hover {
        color: var(--anchor);

    }
}

.btn-primary {
    background: var(--black);
    color: var(--white);
    border: 0;

    &:hover {
        background: var(--black), 80%;
    }
}

.container-fluid {
    padding: 0;
}

.card-body {
    padding: 2rem;
}
