@use 'mixins' as m;


//Gloabl Text Styles
$page-max-width:                144rem;
$content-max-width:             70rem;
$body-font-size:                1.8rem;
$line-height-default:           1.7;
$line-height-default-mobile:    1.25;
$headings-text-transform:       initial;

// Headings
//Main Text Styles
$h1-desktop:                7rem;
$h2-desktop:                4rem;
$h3-desktop:                2.875rem;
$h4-desktop:                2.4rem;
$h5-desktop:                2rem;
$h6-desktop:                2rem;

// Mobile
$h1-mobile:                 4rem;
$h2-mobile:                 3.2rem;
$h3-mobile:                 2.3rem;
$h4-mobile:                 1.92rem;
$h5-mobile:                 1.6rem;
$h6-mobile:                 1.6rem;

// Line heights
$line-height-default: 1.7;
$line-height-mobile: 1.25;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$title-desktop:             $h4-desktop;
$title-mobile:              $h4-mobile;
$subtitle:                  $h5-desktop;

$listing-title--desktop:      5.6rem;
$listing-title--mobile:       $h1-mobile;


//About Page
$about-h1-desktop:                2.8rem;
$about-h2-desktop:                2.2rem;
$about-h3-desktop:                1.8rem;

$about-h1-mobile:                 4.8rem;
$about-h2-mobile:                 2rem;
$about-h3-mobile:                 1.8rem;


//Portfolio Listing Page
$listing-h2-desktop:        $h2-desktop;
$listing-h2-mobile:         $h2-mobile;

$headings-pre-font-size:    1.6rem;


$card-v2-border-radius:     .8rem;
$card-v2-padding:           2.4rem;



// Global styles
%heading-h2 {
  font-size: $about-h2-desktop;
  line-height: $line-height-default;

  @include m.screen(md) {
    font-size: $about-h2-desktop;
  }
}

%heading-h3 {
  font-size: $about-h3-mobile;
  line-height: $line-height-default;

  @include m.screen(md) {
    font-size: $about-h3-desktop;
  }
}
