// Bootstrap Overrides : START
$spacer:    1.6rem;

// Bootstrap Overrides : END
$prefix:                      kf- !default;


$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$blue:    #1F51FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;


$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;



:root {

  // color-scheme: light dark;

  @each $color,
  $value in $colors {
    --#{$prefix}#{$color}: #{$value};
  }

  --black: #000;
  --white: #fff;
  --dk-gray: #232323;
  --tag-brand: #e2e3e8;
  // --anchor: #1F51FF;

  --p-xxs: .4rem;
  --p-xs: .8rem;
  --p-sm: 1.2rem;
  --p-md: 1.6rem;
  --p-lg: 3.2rem;
  --p-xl: 6.4rem;
  --p-xxl: 12.8rem;

  --heading--font-weight: normal;
  --heading--font-weight-page-title: 300;
  --heading--font-weight-strong: 700;
  --button--font-weight: 500;
  --button--line-height: 1.5;
  --button--border-width: 3px;
  --button--border-radius: 0;
  --button--padding-vertical: 15px;
  --button--padding-horizontal: calc(2 * var(--button--padding-vertical));

  --font-weight--300: 300;
  --font-weight--400: 400;
  --font-weight--500: 500;
  --font-weight--600: 600;
  --font-weight--700: 700;
  --font-weight--800: 800;
  --font-weight--900: 900;

  --uppercase: uppercase;
  --lowercase: lowercase;
  --capitalize: capitalize;
  --normal: normal;
  --text-transform: none;
  --text-decoration: none;
  --text-decoration-underline: underline;

  --global--line-height-page-title: 1.1;
  --global--line-height-heading: 1.1;
  --quote--line-height-large: 1.2;
  --global--line-height-body: 1.6;
  --global--spacing-vertical: 3rem;

  --heading--line-height-h1: var(--global--line-height-page-title);
  --heading--line-height-h2: var(--global--line-height-heading);
  --heading--line-height-h3: var(--global--line-height-heading);
  --heading--line-height-h4: var(--global--line-height-heading);
  --heading--line-height-h5: var(--global--line-height-heading);
  --heading--line-height-h6: var(--global--line-height-heading);


  // 2025 Updates - Dark Mode
  --light-bg: #fff;
  --light-color: #1d1d1f;

  --dark-bg: #0F0F12;
  // --dark-color: #fff;
  --dark-color: var(--colors-timberwolf-100, #f7f6f3);

  /* COLLECTION 1 */
  --surface-background-dark: #191a17;
  --surface-background-light: #ffffff;
  --surface-background-double-dark: #0f0f12;

  --dark-slate-grey: #2c3639;
  --limed-spruce: #3f4e4f;
  --french-beige: #a27b5c;
  --timberwolf: #dcd7c9;
  --boulder: #727d73;
  --mountbatten-pink: #987d9a;

  --hyperlink: #1861FF;

  --colors-dark-slate-grey-800: #2c3639;
  --colors-dark-slate-grey-700: #435256;
  --colors-dark-slate-grey-600: #596d73;
  --colors-dark-slate-grey-500: #6f8890;
  --colors-dark-slate-grey-400: #8ca0a6;
  --colors-dark-slate-grey-300: #a9b8bc;
  --colors-dark-slate-grey-200: #c6d0d2;
  --colors-dark-slate-grey-100: #e2e7e8;

  --colors-limed-spruce-800: #3f4e4f;
  --colors-limed-spruce-700: #566a6c;
  --colors-limed-spruce-600: #6d8688;
  --colors-limed-spruce-500: #889ea0;
  --colors-limed-spruce-400: #a4b5b7;
  --colors-limed-spruce-300: #c0cccd;
  --colors-limed-spruce-200: #dde3e4;
  --colors-limed-spruce-100: #f1f3f4;

  --colors-french-beige-800: #624a38;
  --colors-french-beige-700: #82634a;
  --colors-french-beige-600: #a27b5c;
  --colors-french-beige-500: #b5967d;
  --colors-french-beige-400: #c7b09d;
  --colors-french-beige-300: #dacbbe;
  --colors-french-beige-200: #ece5de;
  --colors-french-beige-100: #f6f2ef;

  --colors-timberwolf-800: #665d42;
  --colors-timberwolf-700: #857956;
  --colors-timberwolf-600: #a1936d;
  --colors-timberwolf-500: #b5aa8c;
  --colors-timberwolf-400: #c9c1ab;
  --colors-timberwolf-300: #dcd7c9;
  --colors-timberwolf-200: #f1efe9;
  --colors-timberwolf-100: #f7f6f3;

  --colors-mountbatten-pink-800: #634e64;
  --colors-mountbatten-pink-700: #7f6481;
  --colors-mountbatten-pink-600: #987d9a;
  --colors-mountbatten-pink-500: #af9bb1;
  --colors-mountbatten-pink-400: #c6b7c7;
  --colors-mountbatten-pink-300: #ddd4de;
  --colors-mountbatten-pink-200: #eae5eb;
  --colors-mountbatten-pink-100: #f6f3f6;

  --body-font-weight: light-dark(400, 300);
  --body-font-weight-light: 400;
  --body-font-weight-dark: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --anchor: light-dark(var(--hyperlink), #A78BFA);
    --divider-color: light-dark(var(--colors-limed-spruce-200), var(--colors-dark-slate-grey-800));
    --body-font-weight: light-dark(400, 300);
  }
}

//Gloabl Text Styles
$page-max-width:                144rem;
$content-max-width:             70rem;
$body-font-size:                1.8rem;
$line-height-default:           1.7;
$line-height-default-mobile:    1.25;
$headings-text-transform:       initial;

//Main Text Styles
$h1-desktop:                7rem;
$h2-desktop:                4rem;
$h3-desktop:                2.875rem;
$h4-desktop:                2.4rem;
$h5-desktop:                2rem;
$h6-desktop:                2rem;

$h1-mobile:                 4rem;
$h2-mobile:                 3.2rem;
$h3-mobile:                 2.3rem;
$h4-mobile:                 1.92rem;
$h5-mobile:                 1.6rem;
$h6-mobile:                 1.6rem;

$title-desktop:             $h4-desktop;
$title-mobile:              $h4-mobile;
$subtitle:                  $h5-desktop;

$listing-title--desktop:      5.6rem;
$listing-title--mobile:       $h1-mobile;


//About Page
$about-h1-desktop:                2.8rem;
$about-h2-desktop:                2.2rem;
$about-h3-desktop:                1.8rem;

$about-h1-mobile:                 4.8rem;
$about-h2-mobile:                 2rem;
$about-h3-mobile:                 1.8rem;


//Portfolio Listing Page
$listing-h2-desktop:        $h2-desktop;
$listing-h2-mobile:         $h2-mobile;

$headings-pre-font-size:    1.6rem;


$card-v2-border-radius:     .8rem;
$card-v2-padding:           2.4rem;


// Global Site Padding
$global-padding--desktop:           0 var(--p-lg) var(--p-lg);
$global-padding--m-lg:              0 var(--p-xl) var(--p-xxl);

$global-section-padding--desktop:   0 var(--p-lg);
$global-section-padding--m-lg:      0 var(--p-xl);
