<header class="hero main">
    <div class="hero-block">
        <div class="heading-pre">Hey there! My name is</div>
        <h1>Kris Fryer</h1>
        <p>I'm a product designer, photographer, and figma expert.</p>
        <p>I create clean, intuitive digital experiences and capture meaningful moments through photography. Whether designing interfaces or crafting resources, my work focuses on clarity, creativity, and impact.</p>
        <p>Learn more <a href="./about">about me</a>.</p>
        <!-- <h1><span class="visually-hidden">Kris Fryer </span><span class="visually-hidden">is a </span><abbr>UI</abbr>/<abbr>UX</abbr> designer, photographer, front-end developer, and figma expert &#64; <a href="https://www.impartner.com/">Impartner</a>.</h1> -->
    </div>
</header>
<section class="section main">
    <h2>My work</h2>
</section>
<app-listing></app-listing>
