<header class="hero-v2 main">
    <div class="hero__bg"></div>
    <div class="hero__gradient"></div>
    <div class="hero-block">
        <!-- <div class="heading-pre">Hey there! My name is</div> -->
        <h1>Hi, I'm Kris Fryer.</h1>
        <p>Product Designer &amp; Figma expert</p>
        <p class="note subtle-note">Currently refreshing my portfolio. One case study is live, others coming soon.</p>
        <!-- <p>Learn more <a href="./about">about me</a>.</p> -->
        <!-- <div class="alert alert-primary" role="alert">
            I'm in the middle of a portfolio refresh. One case study has been fully redesigned, with others to follow soon. Thanks for your patience while I polish things up.
        </div> -->
    </div>
</header>
<!-- <section class="section main">
    <h2>My work</h2>
</section> -->
<app-listing></app-listing>
