
<header class="hero">
    <h1>My work</h1>
</header>
<div class="container-fluid">
    <app-listing></app-listing>
    <!-- <div class="projects cards-grid">
        <div class="grid-2-col">
            <div class="project-card project-image studio">
                <div class="content-wrapper">
                    <div class="card-pre-title">Impartner</div>
                    <div class="card-title">Marketplace Studio</div>
                    <div class="content">
                        <p class="card-text">How can we build an easy-to-use configuration builder for an embedded partner marketplace? </p>
                    </div>
                    <div class="tags d-flex flex-wrap">
                        <div class="tag studio">HTML</div>
                        <div class="tag studio">CSS</div>
                        <div class="tag studio">Responsive</div>
                        <div class="tag studio">Mobile</div>
                        <div class="tag studio">Protyping</div>
                        <div class="tag studio">MVP Design</div>
                    </div>
                </div>
                <div class="project-image">
                    <img src="../../assets/img/marketplace/mps-01.png" alt="" class="img-fluid">
                </div>
                <a class="project-link" [routerLink]="'./impartner-marketplace'" [routerLinkActive]="'active'"></a>
            </div>
            <div class="project-card project-image" style="background: linear-gradient(90deg, rgba(237,239,241,1) 0%, rgba(237,239,241,1) 54%, rgba(237,239,241,.25) 100%), url('https://yuhsuanlin.s3.us-east-2.amazonaws.com/illustration+1.png') center right; background-size: cover;">
                <div class="content-wrapper">
                    <div class="card-pre-title">Impartner</div>
                    <div class="card-title">Competency Management</div>
                    <div class="content">
                        <p class="card-text">This is a placeholder.</p>
                    </div>
                    <div class="tags d-flex flex-wrap">
                        <div class="tag">HTML</div>
                        <div class="tag">CSS</div>
                        <div class="tag">MVP Design</div>
                    </div>
                </div>
                <div class="project-image"></div>
                <a class="project-link" [routerLink]="'./competency-management'" [routerLinkActive]="'active'"></a>
            </div>
            <div class="project-card project-image" style="background: linear-gradient(90deg, rgba(237,239,241,1) 0%, rgba(237,239,241,1) 54%, rgba(237,239,241,.25) 100%), url('https://yuhsuanlin.s3.us-east-2.amazonaws.com/illustration+1.png') center right; background-size: cover;">
                <div class="content-wrapper">
                    <div class="card-pre-title">Impartner</div>
                    <div class="card-title">Business Planning</div>
                    <div class="content">
                        <p class="card-text">This is a placeholder.</p>
                    </div>
                    <div class="tags d-flex flex-wrap">
                        <div class="tag">HTML</div>
                        <div class="tag">CSS</div>
                        <div class="tag">MVP Design</div>
                    </div>
                </div>
                <div class="project-image"></div>
                <a class="project-link" [routerLink]="'./business-planning'" [routerLinkActive]="'active'"></a>
            </div>
            <div class="project-card project-image" style="background: linear-gradient(90deg, rgba(237,239,241,1) 0%, rgba(237,239,241,1) 54%, rgba(237,239,241,.25) 100%), url('https://yuhsuanlin.s3.us-east-2.amazonaws.com/illustration+1.png') center right; background-size: cover;">
                <div class="content-wrapper">
                    <div class="card-pre-title">Impartner</div>
                    <div class="card-title">Program Compliance Manager (PCM)</div>
                    <div class="content">
                        <p class="card-text">This is a placeholder.</p>
                    </div>
                    <div class="tags d-flex flex-wrap">
                        <div class="tag">HTML</div>
                        <div class="tag">CSS</div>
                        <div class="tag">MVP Design</div>
                    </div>
                </div>
                <div class="project-image"></div>
                <a class="project-link" [routerLink]="'./program-compliance-manager'" [routerLinkActive]="'active'"></a>
            </div>
            <div class="project-card project-image" style="background: linear-gradient(90deg, rgba(237,239,241,1) 0%, rgba(237,239,241,1) 54%, rgba(237,239,241,.25) 100%), url('https://yuhsuanlin.s3.us-east-2.amazonaws.com/illustration+1.png') center right; background-size: cover;">
                <div class="content-wrapper">
                    <div class="card-pre-title">Impartner</div>
                    <div class="card-title">Marketing Development Funds (MDF)</div>
                    <div class="content">
                        <p class="card-text">This is a placeholder.</p>
                    </div>
                    <div class="tags d-flex flex-wrap">
                        <div class="tag">HTML</div>
                        <div class="tag">CSS</div>
                        <div class="tag">MVP Design</div>
                    </div>
                </div>
                <div class="project-image"></div>
                <a class="project-link" [routerLink]="'./marketing-development-funds'" [routerLinkActive]="'active'"></a>
            </div>
        </div>
    </div> -->
</div>