// @import "/src/styles.scss";
@use "mixins" as m;


.projects {
    padding: 0 var(--p-lg) var(--p-lg);

    @include m.screen(lg) {
        padding: 0 var(--p-xl) var(--p-xxl);
    }
}

.cards-grid {
    display: grid;
    gap: 2.4rem;

    .grid-2-col {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.4rem;

        @include m.screen(lg) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
