<div class="project-card project-image" style="background-image:url('https://yuhsuanlin.s3.us-east-2.amazonaws.com/illustration+1.png')">
  <div class="content-wrapper">
    @if (project.subtitle) {
      <div class="header-pre">{{ project.subtitle }}</div>
    }
    <div class="header">{{ project.name }}</div>
    @if (project.summary) {
      <div class="content">
        <p class="card-text">{{ project.summary }}</p>
      </div>
    }
    @if (project.tags) {
      <div class="tags d-flex flex-wrap">
        @for (tag of project.tags; track tag) {
          <div>
            <div class="tag">{{ tag }}</div>
          </div>
        }
      </div>
    }
  </div>
  <div class="project-image"></div>
  <a class="project-link" href="{{project.viewMoreSrc}}"></a>
</div>