@use 'sass:color';
@use 'app'  as *;
@use 'typography' as t;
@use 'variables' as v;
@import url('//fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    color-scheme: light dark;
    font-size: 62.5%;
    font-optical-sizing: auto;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;
}

:root:has(#theme [value="☀️"]:checked) {
    color-scheme: light;
    --base: #cfcfcf;
    --text: #212121;
  }

  :root:has(#theme [value="🌑"]:checked) {
    color-scheme: dark;
    --base: #212121;
    --text: #cfcfcf;
  }

  :root:has(#theme [value="🙃"]:checked) {
    --base: hotpink;
    --text: dodgerblue;
  }

body {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    letter-spacing: .025rem;
    line-height: var(--global--line-height-body);
    color: light-dark(var(--light-color), var(--dark-color));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

main, footer, .footer {
    width: 100%;
    margin: 0 auto;
}

.mw-site {
    margin: auto;
    max-width: 144rem;
}

.mw-inner {
    max-width: 144rem;
    margin: auto;
    padding: inherit var(--p-lg);


    @include screen(lg) {
        padding: inherit var(--p-xl);
    }
}

footer, .footer {
    padding: var(--p-sm) var(--p-md);

    @include screen(lg) {
        padding: var(--p-md) var(--p-xl);
    }
}

.hero {
    padding: var(--p-xl) var(--p-lg);
    display: flex;
    align-items: center;

    &.main {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: .1rem solid var(--divider-color);

        p, h1 {
            max-width: 50rem;
        }

        h1, .heading-pre {
            text-transform: var(--uppercase);
        }

        h1 {
            margin-top: 2rem;
            margin-bottom: 1.6rem;
            @extend %h1;
        }

        p {
            font-size: 1.8rem;
            letter-spacing: 0.0196rem;
        }
    }

    .hero-block {
        padding: 6rem 0;
    }

    .heading-pre {
        font-size: 1.4rem;
        font-weight: var(--font-weight--600);
        color: light-dark(var(--colors-french-beige-700), var(--colors-french-beige-500));

    }

    h1 {
        max-width: 102.4rem;
        @extend %h1;
    }

    @include screen(lg) {
        padding: var(--p-xl) var(--p-xl);

        h1 {
            font-size: 5.2rem;
        }
    }
}

.section {
    padding: $global-section-padding--desktop;

    &.main {
        margin-top: var(--p-xl);
    }

    @include screen(lg) {
        padding: $global-section-padding--m-lg;
    }
}

.listing-hero {
    flex-direction: column;

    .header-pre {
        color: $gray-700;
        font-weight: var(--font-weight--400);
        font-size: $headings-pre-font-size;
        text-transform: $headings-text-transform;
    }
}

.listing-section, .listing-section-full {
    h1 {
        max-width: 102.4rem;
    }
}

.listing-section {
    padding: var(--p-xl) var(--p-lg);


    @include screen(lg) {
        padding: var(--p-xxl) var(--p-xl);
    }
}

.listing-section-full {
    padding: var(--p-xl) 0;

    &.bg-light {
        background-color: light-dark(#f8f9fa, #000) !important;
    }
    > .listing-section  {
        padding: 0 var(--p-lg);
    }

    @include screen(lg) {
        padding: var(--p-xl) 0;

        > .listing-section  {
            padding: 0 var(--p-xl);
        }
    }
}

.headline {
    font-size: t.$body-font-size-sm;
    letter-spacing: t.$letter-spacing;
    text-transform: var(--text-transform-uppercase);
    font-weight: t.$font-weight-medium;
    margin-bottom: 1.6rem;
    color: light-dark(v.$gray-700, v.$gray-500);
}

select {
    border: .1rem solid light-dark(#E5E5E5, #404040);
    background: light-dark(transparent, rgba(rgb(59, 59, 59), 0.2));
    border-radius: 1.6rem;
    padding: .2rem .8rem;
}
