@use './mixins' as m;
@use './variables' as v;
@use './typography' as t;

.project-card {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    border-radius: 1.2rem;
    background: #F1EFED;
    border: 0;
    padding: var(--p-lg);
    text-transform: lowercase;
    transition: 0.2s ease;
    position: relative;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.11);
    }

    @include m.screen(md) {
        padding: var(--p-xl);
    }

    .content-wrapper {
        max-width: 45rem;
    }

    .card-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include m.screen(md) {
            font-size: 3.2rem;
        }
    }

    .card-pre-title {
        opacity: .75;
        font-size: 90%;
        font-weight: 500;
    }

    .card-text {
        margin-bottom: 4rem;
        font-size: 1.8rem;

        @include m.screen(md) {
            font-size: 2rem;
        }
    }

    .tags {
        grid-area: tags;
        gap: var(--p-sm);
        margin-top: 2rem;

        .tag {
            color: #4f5554;
            background: var(--tag-brand);
            padding: var(--p-xxs) var(--p-sm);
            border-radius: .6rem;
            width: fit-content;
            font-weight: 600;
            font-size: 1.3rem;

            &.studio {
                background: #c2d9dc;
            }

            @include m.screen(lg) {
                font-size: t.$body-font-size;
            }
        }
    }

    &.project-image {
        background: #edeff1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        &.studio {
            background: #02606d;
            color: #fff;
            gap: var(--p-lg);
        }

        @include m.screen(md) {

            &.studio {
                gap: var(--p-xl);
            }
        }
    }

    .project-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
