@use './mixins' as m;
@use './variables' as v;
@use './typography' as t;

.listing-hero {
    flex-direction: column;
    margin-top: var(--p-md);
    background: var(--bs-gray-300);
}

.listing-hero--v2 {
    background:
    radial-gradient(ellipse at 50% 20%, light-dark(rgba(255, 255, 255, 0.04), transparent) 0%, transparent 70%),linear-gradient(
        light-dark(#ffffff, #0F0F12),
        light-dark(#F2F1EF, #23242A)
    );
    color: var(--listing-hero-colors);
    padding-top: 7.2vmax;
    padding-bottom: 0;
    overflow: hidden;
}

// This is the current hero style. Upgrading to listing-hero--v2 for current styling.
.listing-text {
    color: v.$gray-100;
    background: v.$black;
    padding-top: 13.2vmax;
    padding-bottom: 10vw;

    @include m.screen(md) {
        padding-top: 10.2vmax;
        padding-bottom: 4vw;
    }

    .listing-title {
        max-width: t.$page-max-width;
        margin: auto;
        padding: 0 var(--p-lg);

        @include m.screen(lg) {
            padding: 0 var(--p-xl);
        }

        h1 {
            color: v.$gray-100;
            font-size: t.$listing-title--mobile;
            font-weight: 600;

            @include m.screen(md) {
                font-size: t.$listing-title--desktop;
            }
        }

        .header-pre {
            color: v.$gray-300;
        }
    }

    .listing-intro {
        max-width: t.$content-max-width;

        p {
            font-weight: 300;
            margin-bottom: calc(2* (var(--global--spacing-vertical)));
        }
    }

    .block-wrapper {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: row;
        gap: 2rem;

        p {
            font-weight: 300;
            font-size: 1.5rem;
            margin-bottom: 0;

            strong {
                font-weight: var(--font-weight--600);
            }
        }

        @include m.screen(md) {
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            gap: 5rem;
        }
    }
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: t.$page-max-width;
    margin: auto;
    padding: 0 var(--p-lg);

    .listing-image {
        display: none;
        max-width: 50rem;
        margin-top: 0;
        padding-top: 0;
    }

    @include m.screen(lg) {
        grid-template-columns: 1.15fr 1fr;
        padding: 0 var(--p-xl);

        .listing-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &--v2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3.2rem;
        max-width: t.$page-max-width;
        margin: auto;
        padding: 0 var(--p-lg);
        text-align: center;

        @include m.screen(md) {
            grid-template-columns: 1fr;
            padding: 0 var(--p-xl);
        }

        .listing-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.listing-intro {
    h1 {
        color: v.$gray-100;
        font-size: t.$listing-title--mobile;
        font-weight: 600;

        @include m.screen(md) {
            font-size: t.$listing-title--desktop;
        }
    }
}

.listing-hero--v2 .listing-intro {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h1 {
        color: var(--listing-hero-colors);
        font-size: t.$listing-title--mobile;
        font-weight: 600;

        @include m.screen(md) {
            font-size: t.$listing-title--desktop;
        }
    }

    p {
        font-size: 2rem;
        letter-spacing: -0.02rem;
        max-width: 75rem;
        margin: auto;

    }
}

.listing-image {
    max-width: 20rem;
    margin: 2rem auto 0;
    padding-top: 2rem;

    @include m.screen(sm) {
        max-width: 30rem;
    }

    @include m.screen(md) {
        max-width: 115rem;
        padding-top: 5rem;
    }
}

// v2 of listing-hero
.listing-image--grid {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    bottom: -50px;

    .image {
        grid-area: 1 / 1;
        width: 100%;
        height: auto;
        position: relative;
        transition: transform 0.3s ease;
    }

    .image-1 {
        z-index: 1;
    }

    .image-2 {
        z-index: 2;
        display: none;
    }

    @include m.screen(md) {

        .image {
            max-width: 45rem;
        }

        .image-1 {
            transform: translate(-170px) translateY(0px) rotate(-1.15deg);
        }

        .image-2 {
            display: block;
            transform: translate(170px) translateY(30px) rotate(1.15deg);
        }
    }

    @include m.screen(lg) {

        .image {
            max-width: 60rem;
        }

        .image-1 {
            transform: translate(-210px) translateY(0px) rotate(-1.15deg);
        }

        .image-2 {
            transform: translate(210px) translateY(30px) rotate(1.15deg);
        }
    }
}

.metrics-wrapper {
    padding: var(--p-lg) var(--p-lg);
    background: linear-gradient(
        light-dark(#F2F1EF, #23242A),
        light-dark(#ffffff, #0F0F12)
    );

    @include m.screen(md) {
        padding: var(--p-md) var(--p-lg);
    }
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
    align-items: start;
    max-width: 90rem;
    margin: auto;

    @include m.screen(sm) {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));

    }

    @include m.screen(md) {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        padding: var(--p-lg) var(--p-xl);
    }
}

.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    line-height: 1.4;
    color: light-dark(var(--light-color), var(--dark-color));
    font-size: 1.3rem;
    text-align: center;

    @include m.screen(md) {
        align-items: start;
        justify-content: center;
        flex-direction: row;
        text-align: left;
    }

    .metric-icon {
        width: 24px;
        height: 24px;
    }

    .metric-text {
        padding: 0.3rem 0;
        width: 100%;

        @include m.screen(md) {
            width: auto;
        }
    }

    .success {
        color: var(--green-apple);
    }

    .danger {
        color: var(--crayola-blue);
    }
}

.listing-title {
    margin-bottom: 5rem;

    h1 {
        font-size: t.$listing-title--mobile;

        @include m.screen(md) {
            font-size: t.$listing-title--desktop;
        }
    }

    .header-pre {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .05rem;
        color: #565656;
    }
}

.listing-section {
    max-width: t.$page-max-width;
    margin: auto;
}

.listing-section-full {
    max-width: 100%;
}

.listing-section, .listing-section-full {

    @include m.all-headings {
        max-width: t.$content-max-width;
    }

    h2 {
        font-size: t.$listing-h2-mobile;

        @include m.screen(md) {
            font-size: t.$listing-h2-desktop;
        }
    }


    h2 + h3, h3.block-heading {
        margin-top: calc(2* var(--global--spacing-vertical));
    }


    .listing-role {

        .role-section {
            padding-bottom: var(--p-lg);
        }

        h2 {
            @extend %h3;
            margin-top: 0;
        }

        .logo {

            &-figma {
                width: 100%;
                height: 100%;
                max-width: 4rem;
                max-height: 4rem;
            }
        }
    }

    .listing-software {

        ul {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

        ul > li {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }
    }

    p {
        line-height: t.$line-height-default;
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    p + ul,
    p + ol {
        margin-top: var(--p-lg);
    }

    ul > li {
        margin-top: var(--p-xxs);

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

h2 + .listing-subsection {
    padding-top: 0;
}

.listing-subsection {
    padding: var(--p-xl) 0 var(--p-xl);

    &:last-of-type {
        padding-bottom: 0;
    }

    &.mp-tabs, &.col-spacing {
        h4, .h4
        h4:first-child,
        .h4:first-child {
            margin-top: revert;

        }
    }

    img.img {
        padding: 2rem 0 3.2rem;

        @include m.screen(md) {
            padding: 0;
        }
    }
}

.listing-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;

    &--v2 {
        display: grid;
        grid-template-columns: minmax(0, 70rem);

    }

    @include m.screen(md) {
        grid-template-columns: repeat(1, 1fr) 22rem;
        gap: 20.2rem;
    }
}

.listing-inner-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;

    @include m.screen(md) {
        grid-template-columns: 1fr;
        gap:4rem;
    }

    @include m.screen(lg) {
        grid-template-columns: 1fr 1fr;
        gap:4rem;
    }

    @include m.screen(xl) {
        grid-template-columns: 1fr .65fr;
        gap: 10rem;
    }

    &.collaboration {
        @include m.screen(xl) {
            grid-template-columns: 1fr .65fr;
            gap: 0rem;
        }

        .listing-intro-img-wrapper {
            margin-bottom: 0;
        }
    }
}

.listing-intro-img-wrapper {
    margin-bottom: 8rem;

    @include m.screen(md) {
        margin-bottom: 0;
        max-width: 50rem;
        margin: 0 auto 8rem;
    }
}

.listing-details--v2, .listing-details--quote {
    margin-bottom: 8rem;
}

.listing-details--v2 {

    .listing-intro p:first-of-type {
        margin-top: 0;
    }

    .blockquote {
        margin-top: 3.2rem;
    }
}

.listing-details--quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: .02rem;
        color: var(--listing-hero-colors);
    }
}

.listing-img-container {
    padding: 5rem 0;
}

.unr-img {
    height: 10rem;
    width: auto;
}

.highlight {
    display: flex;
    background: var(--bs-primary-bg-subtle);
    padding: var(--p-md) var(--p-lg);
    border-radius: 2rem;
    color: #002d71;
    box-shadow: var(--bs-box-shadow-sm);

    @include m.screen(md) {
        gap: 3.6rem;

    }

    &-intro, &-content {
        display: flex;
        align-items: center;
    }

    &-divider {
        display: none;
        width: .1rem;
        background-color: #99b4dd;

        @include m.screen(md) {
            display: block;
        }
    }

    &-icon {
        display: none;
        fill: currentColor;

        @include m.screen(md) {
            display:block;
            width: 4.8rem;
            height: 4.8rem;

        }
    }

    &-content {
        font-size: 1.8rem;
        line-height: 1.75;
        font-weight: 700;

        @include m.screen(md) {
            font-size: 2rem;
        }
    }
}

.takeaway {

    &-visual {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    &-circle {
        width: 20rem;
        height: 20rem;
        background: light-dark(var(--bs-gray-300), var(--bs-gray-800));
        border-radius: 100rem;
        padding: 5rem;

    }
}

.listing-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
        'ga-title'
        'ga-image'
        'ga-body'
    ;
    grid-auto-rows: auto;
    gap: 0;

    @include m.screen(md) {
        grid-template-columns: 1.35fr 1fr;
        grid-template-areas:
            'ga-image ga-title'
            'ga-image ga-body'
        ;
        grid-auto-rows: auto 1fr;
        gap: 0 3.2rem;

    }

    &.reversed {
        @include m.screen(md) {
            grid-template-columns: 1fr 1.35fr;
            grid-template-areas:
                'ga-title ga-image'
                'ga-body ga-image'
            ;
        }
    }

    &-image {
        grid-area: ga-image;
    }

    &-title {
        grid-area: ga-title;
    }

    &-body {
        grid-area: ga-body;
        padding-top: var(--p-md);

        @include m.screen(md) {
            padding-top: 0;
        }
    }
}

.img-container-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 3rem 0;

    @include m.screen(sm) {
        flex-direction: row;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include m.screen(sm) {
            flex-direction: column-reverse;
            max-height: 100%;
        }

        > img {
            max-height: 42rem;
            width: fit-content;
            margin: auto;

             @include m.screen(sm) {
                max-height: fit-content;
             }
        }
    }
    .img-container h6 {
        margin-bottom: 1rem;
        color: v.$gray-600;
    }
}

.img-container.img {

    &-left img {
        transform: rotate(.5deg);
    }

    &-right img {
        transform: rotate(-.5deg);
    }
}

.mobile-responsive, .mobile-responsive-sm {
    margin-top: 3.2rem;

    @include m.screen(md) {
        margin-top: 0;
    }
}

@include m.screen(sm) {
    .mobile-responsive-sm {
        flex-direction: row-reverse;
    }
}

@include m.screen(sm) {
    .divider-vert {
        width: .1rem;
        background: var(--neutral-warm200);
    }
}

.quote-card {
    background: linear-gradient(var(--neutral-warm25), var(--neutral-warm50));
    background:
    linear-gradient(
        light-dark(var(--neutral-warm25), #17171c),
        light-dark(var(--neutral-warm50), #131316)
    );
    border: .1rem solid light-dark(rgba(211,211,211,.3), #1e1e22);
    border-radius: 1.6rem;
    padding: 1.2rem 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    max-width: 50rem;
    box-shadow: 0 6px 16px -4px #0c0c0d1a, 0 4px 4px -4px #0c0c0d0d;

    .quote {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .customer-name {
        font-size: 1.35rem;
        font-weight: 400;
        margin-top: 0.5rem;
        font-style: italic;
    }
}

.match-height {

    &-1 {
        min-height: 22.5rem;
    }

    &-2 {
        min-height: 30rem;
    }
}

.img-lg--height {
    height: 15rem;
}

.img-sm--width {
    height: 8rem;
}
