
.listing-hero {
    flex-direction: column;
    margin-top: var(--p-md);
    background: var(--bs-gray-300);
}

.listing-text {
    color: $gray-100;
    background: $black;
    padding-top: 13.2vmax;
    padding-bottom: 10vw;
    
    @include screen(md) {
        padding-top: 10.2vmax;
        padding-bottom: 4vw;
    }
    
    .listing-title {
        max-width: $page-max-width;
        margin: auto;
        padding: 0 var(--p-lg);

        @include screen(lg) {
            padding: 0 var(--p-xl);
        }

        h1 {
            color: $gray-100;
            font-size: $listing-title--mobile;
            font-weight: 600;

            @include screen(md) {
                font-size: $listing-title--desktop;
            }
        }   

        .header-pre {
            color: $gray-300;
        }
    }

    .listing-intro {
        max-width: $content-max-width;

        p {
            font-weight: 300;
            margin-bottom: calc(2* (var(--global--spacing-vertical)));
        }
    }

    .block-wrapper {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: row;
        gap: 2rem;

        p {
            font-weight: 300;
            font-size: 1.5rem;
            margin-bottom: 0;

            strong {
                font-weight: 900;
            }
        }

        @include screen(md) {
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            gap: 5rem;
        }
    }
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    max-width: $page-max-width;
    margin: auto;
    padding: 0 var(--p-lg);

    .listing-image {
        display: none;
        max-width: 50rem;
        margin-top: 0;
        padding-top: 0;
    }
    
    @include screen(lg) {
        grid-template-columns: 1.15fr 1fr;
        padding: 0 var(--p-xl);

        .listing-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.listing-intro {
    h1 {
        color: $gray-100;
        font-size: $listing-title--mobile;
        font-weight: 600;

        @include screen(md) {
            font-size: $listing-title--desktop;
        }
    }  
}

.listing-image {
    max-width: 20rem;
    margin: 2rem auto 0;
    padding-top: 2rem;
    
    @include screen(sm) {
        max-width: 30rem;
    }
    
    @include screen(md) {
        max-width: 115rem;
        padding-top: 5rem;
    }
    
}

.listing-title {
    margin-bottom: 5rem;

    h1 {
        font-size: $listing-title--mobile;

        @include screen(md) {
            font-size: $listing-title--desktop;
        }
    }  

    .header-pre {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: .05rem;
        color: #565656;
    }
}



.listing-section {
    max-width: $page-max-width;
    margin: auto;
}

.listing-section-full {
    max-width: 100%;
}

.listing-section, .listing-section-full {

    @include all-headings {
        max-width: $content-max-width;
    }

    h2 {
        font-size: $listing-h2-mobile;
        
        @include screen(md) {
            font-size: $listing-h2-desktop;
        }
    }


    h2 + h3, h3.block-heading {
        margin-top: calc(2* var(--global--spacing-vertical));
    }

    
    .listing-role {

        .role-section {
            padding-bottom: var(--p-lg);
        }

        h2 {
            font-size: $h3-mobile;
            margin-top: 0;
            
            @include screen(md) {
                font-size: $h3-desktop;
            }
        }

        .logo {

            &-figma {
                width: 100%;
                height: 100%;
                max-width: 4rem;
                max-height: 4rem;
            }
        }
    }

    .listing-software {
        
        ul {
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
        
        ul > li {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }
    }

    p {
        line-height: $line-height-default;
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical);

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    p + ul, 
    p + ol {
        margin-top: var(--p-lg);
    }

    ul > li {
        margin-top: var(--p-xxs);

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

h2 + .listing-subsection {
    padding-top: 0;
}

.listing-subsection {
    padding: var(--p-xl) 0;

    &:last-of-type {
        padding-bottom: 0;
    }

    &.mp-tabs, &.col-spacing {
        h4, .h4
        h4:first-child, 
        .h4:first-child {
            margin-top: revert;

        }
    }
    
    img.img {
        padding: 2rem 0 3.2rem;
        
        @include screen(md) {
            padding: 0;
        }
    }
}

.listing-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;

    @include screen(md) {
        grid-template-columns: repeat(1, 1fr) 22rem;
        gap: 20.2rem;
        
    }
}

.highlight {
    display: flex;
    background: var(--bs-primary-bg-subtle);
    padding: var(--p-md) var(--p-lg);
    border-radius: 2rem;
    color: #002d71;
    box-shadow: var(--bs-box-shadow-sm);
    
    @include screen(md) {
        gap: 3.6rem;

    }

    &-intro, &-content {
        display: flex;
        align-items: center;
    }

    &-divider {
        display: none;
        width: .1rem;
        background-color: #99b4dd;

        @include screen(md) {
            display: block;
        }
    }

    &-icon {
        display: none;
        fill: currentColor;
        
        @include screen(md) {
            display:block;
            width: 4.8rem;
            height: 4.8rem;

        }
    }

    &-content {
        font-size: 1.8rem;
        line-height: 1.75;
        font-weight: 700;
        
        @include screen(md) {
            font-size: 2rem;
        }
    }
}

.takeaway {
    
    &-visual {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
    
    &-circle {
        width: 20rem;
        height: 20rem;
        background: var(--bs-gray-300);
        border-radius: 100rem;
        padding: 5rem;

    }
}

.listing-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
        'ga-title'
        'ga-image'
        'ga-body'
    ;
    grid-auto-rows: auto;
    gap: 0;
    
    @include screen(md) {
        grid-template-columns: 1.35fr 1fr;
        grid-template-areas: 
            'ga-image ga-title'
            'ga-image ga-body'
        ;
        grid-auto-rows: auto 1fr;
        gap: 0 3.2rem;
    
    }

    &.reversed {
        @include screen(md) {
            grid-template-columns: 1fr 1.35fr;
            grid-template-areas: 
                'ga-title ga-image'
                'ga-body ga-image'
            ;
        }
    }

    &-image {
        grid-area: ga-image;
    }

    &-title {
        grid-area: ga-title;
    }

    &-body {
        grid-area: ga-body;
        padding-top: var(--p-md);

        @include screen(md) {
            padding-top: 0;
        }
    }
}