.work-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    border-radius: 1.2rem;
    background: #F5F5F5;
    border: .075rem solid #E5E5E5;
    padding: var(--p-xs);
    transition: 0.2s ease;
    position: relative;
    min-height: 0;
    min-width: 0;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.11);
    }

    @include screen(sm) {
        grid-template-rows: max-content;
    }

    .content-wrapper {
        max-width: 45rem;
    }

    > img {
        border-radius: .4rem;
        border: .075rem solid #E5E5E5;
    }

    .card-title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .card-pre-title {
        opacity: .75;
        font-size: 90%;
        font-weight: 500;
    }

    .card-text {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        
        @include screen(md) {
            font-size: 2rem;
        }
    }

    .card-description {
        font-size: 1.5499rem;
        color: $gray-700;
        margin-bottom: auto;
    }

    .card-body, .card-footer {
        padding: 2rem;
    }

    .card-body {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1.6rem .8rem;

        @include screen(lg) {
            padding: 2rem;
        }
    }

    .card-footer {
        background: none;
        border-top: 0;
        padding-top: 1rem;
    }
    
    .tags {
        grid-area: tags;
        gap: var(--p-xs);
        margin-top: 2rem;

        .tag {
            color: #4f5554;
            background: var(--tag-brand);
            padding: var(--p-xxs) var(--p-sm);
            border-radius: .6rem;
            width: fit-content;
            font-weight: 500;
            font-size: 1.2rem;

            &-studio {
                color: set-text-color(#7DD3FC);
                background: #7DD3FC;
            }

            &-comptency {
                color: set-text-color(#FDBA74);
                background: #FDBA74;
            }

            &-design-system {
                color: set-text-color(#FCD34D);
                background: #FCD34D;
            }
        }
    }

    &.project-image {
        background: #edeff1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%;

        &.studio {
            background: #02606d;
            color: #fff;
            gap: var(--p-lg);
        }

        @include screen(md) {

            &.studio {
                gap: var(--p-xl);
            }
        }
    }

    .project-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}