.grid-row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr auto;
	column-gap: 1.6rem;
}

.col-fourth {
	grid-column: auto / span 3;
}

.col-third {
	grid-column: auto / span 4;
}

.col-two-thirds {
	grid-column: auto / span 8;
}

.col-half {
	grid-column: auto / span 6;
}

.col-three-fourths {
	grid-column: auto / span 9;
}